<!DOCTYPE html>
<html lang="pt">
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177458840-1"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-177458840-1');
   </script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Ponto de Situação Atual em Portugal</title>
   <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
   <div class="header">
      <div class="contain header__layout">
         <div class="nav_title">Ponto de Situação</div>
         <nav>
            <ul aria-labelledby="page_menu_label" style="padding-left: 0px; margin-top: 0px; margin-bottom: 0px;">
               <h2 id="page_menu_label" class="skip">Menu de navegação da página</h2>
               <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Índice de navegação" href="#index__container" ></a></li>
            </ul>
         </nav>
         <nav class="main-navigation">
               <ul aria-labelledby="main_menu_label" class="main-navigation__list">
                  <h2 id="main_menu_label" class="skip">Menu de navegação principal</h2>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Informação global" href="/">Dados globais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Informação por região de saúde" href="/regional/">Dados regionais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link current" aria-label="Página atual: Informação por concelho" href="/concelho/" aria-current="page">Dados por concelho</a></li>
               </ul>
         </nav>
      </div>
    </div>
    <div class="main">
      <div class="contain">
         <div id="index__container" aria-labelledby="index-label">
            <span id="index-label">Índice de navegação</span>
            <ul id="index">
               <li><a href="#concelho-A">A</a></li>
               <li><a href="#concelho-B">B</a></li>
               <li><a href="#concelho-C">C</a></li>
               <li><a href="#concelho-E">E</a></li>
               <li><a href="#concelho-F">F</a></li>
               <li><a href="#concelho-G">G</a></li>
               <li><a href="#concelho-H">H</a></li>
               <li><a href="#concelho-I">I</a></li>
               <li><a href="#concelho-L">L</a></li>
               <li><a href="#concelho-M">M</a></li>
               <li><a href="#concelho-N">N</a></li>
               <li><a href="#concelho-O">O</a></li>
               <li><a href="#concelho-P">P</a></li>
               <li><a href="#concelho-R">R</a></li>
               <li><a href="#concelho-S">S</a></li>
               <li><a href="#concelho-T">T</a></li>
               <li><a href="#concelho-V">V</a></li>
             </ul>
          </div>
         <div id="concelho">
            <h2>Dados por concelho</h2>
            <div>
               {{ with .Concelhos.Features }}
                  {{ range . }}
                     {{if .Attributes.Ancora}}
                        <section id="{{ .Attributes.AncoraID }}" aria-labelledby="{{ .Attributes.Concelho }}">
                     {{else}}
                        <section aria-labelledby="{{ .Attributes.Concelho }}">
                     {{end}}
                        <h4 id="{{ .Attributes.Concelho }}" style="margin-block-end: 0em">{{ .Attributes.Concelho }}</h4>
                        <div class="data">
                           <p>
                              <div>Casos confirmados {{ .Attributes.ConfirmadosAcumuladoConc }}</div>
                           </p>
                           <p>
                              <div>Casos novos {{ .Attributes.ConfirmadosNovosConc }}</div>
                           </p>
                           <p>
                              <div>Última atualização {{ .Attributes.DataParsed }}</div>
                           </p>
                        </div>
                     </section>
                  {{ end }}
               {{ end }}
            </div>
         </div>
      </div>
    </div>

    <div class="footer">
      <div class="contain">
          <div class="address">
             <label class="link" >Dados extraídos de:</label>
             <a class="link" href="https://github.com/dssg-pt/covid19pt-data">covid19pt-data</a>
             <a class="link" href="https://corona.lmao.ninja/">disease.sh</a>
             <a class="link" href="https://services.arcgis.com/CCZiGSEQbAxxFVh3/ArcGIS/rest/services/COVID_Concelhos_ConcelhosDetalhes/FeatureServer/0">Serviço da ESRI de ArcGIS</a></div>
          <div class="address" style="margin-top: 2em;">
              <a class="link" href="https://techandpeople.github.io">Tech & People</a><br>
              <a class="link" href="https://www.lasige.di.fc.ul.pt/">LASIGE</a><br>
              <a class="link" href="https://ciencias.ulisboa.pt/">FCUL</a><br>
              <a class="link" href="https://www.ulisboa.pt/">ULISBOA</a><br>
          </div>
      </div>
  </div>
</body>
</html>