<!DOCTYPE html>
<html lang="pt">
<head>
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177458840-1"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());
   gtag('config', 'UA-177458840-1');
   </script>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Ponto de Situação Atual em Portugal</title>
   <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
   <div class="header">
      <div class="contain header__layout">
         <div class="nav_title">Ponto de Situação</div>
         <nav class="main-navigation">
               <ul class="main-navigation__list">
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados globais" href="#globais" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados detalhados" href="#detalhados" ></a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link current" aria-label="Ir para informação global" href="#globais" aria-current="page">Dados globais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Navegar para informação por região de saúde" href="/regional/">Dados regionais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Navegar para informação por concelho" href="/concelho/">Dados por concelho</a></li>
               </ul>
         </nav>
      </div>
    </div>
    <div class="main">
      <div class="contain">
         <section id="globais" class="data" aria-labelledby="globais-label">
            <h2 id="globais-label">Dados globais</h2>
            <div class="data">
            <p>
               <div>Casos ativos {{.Ativos}}</div>
               <div>Casos recuperados {{.Recuperados}}</div>
               <div>Óbitos {{.Obitos}}</div>
               <div>Casos confirmados {{.Confirmados}}</div>
            </p>
            <p>
               <div>Novos casos {{.ConfirmadosNovos}}</div>
               <div>Novos recuperados {{.TodayRecovered}}</div>
               <div>Novos óbitos {{.TodayDeaths}}</div>
            </p>
            <p>
               <div>Testes realizados {{.Tests}}</div>
               <div>Número de casos sob vigilância pelas autoridades de saúde {{.Vigilancia}}</div>
               <div>Número de pacientes COVID-19 internados em Unidades de Cuidados Intensivos {{.Internados}}</div>
            </p>
            <p>
               <div>Casos ativos por milhão de habitantes {{.ActivePerOneMillion}}</div>
               <div>Casos recuperados por milhão de habitantes {{.RecoveredPerOneMillion}}</div>
               <div>Óbitos por milhão de habitantes {{.DeathsPerOneMillion}}</div>
               <div>Casos confrimados por milhão de habitantes {{.CasesPerOneMillion}}</div>
               <div>Testes realizados por milhão de habitantes {{.TestsPerOneMillion}}</div>
            </p>
            <p>
               <div>Dados relativos ao boletim da DGS de {{.DataDados}}</div>
            </p>
         </div>
         </section>
         <section id="detalhados" class="data" aria-labelledby="detalhados-label">
            <h2 id="detalhados-label">Dados detalhados</h2>
            <div class="data">
            <p>
               <div>Número total de confirmados do sexo feminino {{.ConfirmadosF}}</div>
               <div>Número total de confirmados do sexo masculino {{.ConfirmadosM}}</div>
            </p>
            <p>
               <div>Número de casos confirmados do sexo feminino na faixa etária 0-9 anos {{.Confirmados09f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 10-19 anos {{.Confirmados1019f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 20-29 anos {{.Confirmados2029f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 30-39 anos {{.Confirmados3039f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 40-49 anos {{.Confirmados4049f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 50-59 anos {{.Confirmados5059f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 60-69 anos {{.Confirmados6069f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 70-79 anos {{.Confirmados7079f}}</div>
               <div>Número de casos confirmados do sexo feminino na faixa etária 80+ anos {{.Confirmados80Plusf}}</div>
            </p>
            <p>
               <div>Número de casos confirmados do sexo masculino na faixa etária 0-9 anos {{.Confirmados09m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 10-19 anos {{.Confirmados1019m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 20-29 anos {{.Confirmados2029m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 30-39 anos {{.Confirmados3039m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 40-49 anos {{.Confirmados4049m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 50-59 anos {{.Confirmados5059m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 60-69 anos {{.Confirmados6069m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 70-79 anos {{.Confirmados7079m}}</div>
               <div>Número de casos confirmados do sexo masculino na faixa etária 80+ anos {{.Confirmados80Plusm}}</div>
            </p>
            <p>
               <div>Número total de óbitos de pacientes do sexo feminino {{.ObitosF}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino {{.ObitosM}}</div>
            </p>
            <p>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 0-9 anos {{.Obitos09f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 10-19 anos {{.Obitos1019f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 20-29 anos {{.Obitos2029f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 30-39 anos {{.Obitos3039f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 40-49 anos {{.Obitos4049f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 50-59 anos {{.Obitos5059f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 60-69 anos {{.Obitos6069f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 70-79 anos {{.Obitos7079f}}</div>
               <div>Número total de óbitos de pacientes do sexo feminino na faixa etária 80+ anos {{.Obitos80Plusf}}</div>
            </p>
            <p>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 0-9 anos {{.Obitos09m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 10-19 anos {{.Obitos1019m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 20-29 anos {{.Obitos2029m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 30-39 anos {{.Obitos3039m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 40-49 anos {{.Obitos4049m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 50-59 anos {{.Obitos5059m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 60-69 anos {{.Obitos6069m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 70-79 anos {{.Obitos7079m}}</div>
               <div>Número total de óbitos de pacientes do sexo masculino na faixa etária 80+ anos {{.Obitos80Plusm}}</div>
            </p>
         </div>
         </section>
      </div>
    </div>

    <div class="footer">
        <div class="contain">
            <div class="address">
               <label class="link" >Dados extraídos de:</label>
               <a class="link" href="https://github.com/dssg-pt/covid19pt-data">covid19pt-data</a>
               <a class="link" href="https://corona.lmao.ninja/">disease.sh</a>
               <a class="link" href="https://services.arcgis.com/CCZiGSEQbAxxFVh3/ArcGIS/rest/services/COVID_Concelhos_ConcelhosDetalhes/FeatureServer/0">Serviço da ESRI de ArcGIS</a></div>
            <div class="address" style="margin-top: 2em;">
               <a class="link" href="https://techandpeople.github.io">Tech & People</a><br>
               <a class="link" href="https://www.lasige.di.fc.ul.pt/">LASIGE</a><br>
               <a class="link" href="https://ciencias.ulisboa.pt/">FCUL</a><br>
               <a class="link" href="https://www.ulisboa.pt/">ULISBOA</a><br>
            </div>
        </div>
    </div>
</body>
</html>