<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ponto de Situação Atual em Portugal</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
   <div class="header">
      <!-- <div class="hide_me">
         <div class="hidden-navigation">
               <ul class="main-navigation__list">
                  <li class="main-navigation__list"><a class="main-navigation__link" href="#globais">Ir para informação global</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" href="#regionais">Ir para informação por região de saúde</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" href="#concelhos">Ir para informação por concelho</a></li>
               </ul>
         </div>
      </div> -->

      <div class="contain header__layout">
         <div class="nav_title">Ponto de Situação Atual em Portugal</div>
         <div class="main-navigation">
               <ul class="main-navigation__list">
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Ir para informação global" href="/">Dados globais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Ir para informação por região de saúde" href="#regionais">Dados regionais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Ir para informação por concelho" href="/concelho/">Dados por concelho</a></li>
               </ul>
         </div>
      </div>
    </div>
    <div class="main">
      <div class="contain">
         <div id="regionais">
            <h2>Dados por região de saúde</h2>
            <div>
               <div>
                  <h3>ARS Lisboa e vale do tejo</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosArsnorte}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosArsnorte}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosArslvt}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Norte</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosArsnorte}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosArsnorte}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosArsnorte}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Centro</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosArscentro}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosArscentro}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosArscentro}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Alentejo</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosArsalentejo}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosArsalentejo}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosArsalentejo}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Algarve</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosArsalgarve}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosArsalgarve}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosArsalgarve}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Açores</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosAcores}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosAcores}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosAcores}}</div>
                     </p>
                  </div>
               </div>
               <div>
                  <h3>ARS Madeira</h3>
                  <div class="data">
                     <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.Covid.RecuperadosMadeira}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.Covid.ObitosMadeira}}</div>
                     </p>
                     <p>
                        <div class="confirmados">Casos confirmados {{.Covid.ConfirmadosMadeira}}</div>
                     </p>
                  </div>
               </div>

            </div>
         </div>
      </div>
    </div>

    <div class="footer">
        <div class="contain">
            <div class="address">
                Tech & People<br>
                LASIGE <br>
                FCUL
            </div>
        </div>
    </div>
</body>
</html>