<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ponto de Situação Atual em Portugal</title>
    <link rel="stylesheet" href="/static/stylesheets/main.css">
</head>
<body>
   <div class="header">
      <div class="contain header__layout">
         <div class="nav_title">Ponto de Situação</div>
         <nav class="main-navigation">
               <ul class="main-navigation__list">
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Lisboa e vale do tejo" href="#arslvt" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Norte" href="#arsn" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Centro" href="#arsc" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Alentejo" href="#arsaltj" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Algarve" href="#arsalgv" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Açores" href="#arsac" ></a></li>
                  <li class="main-navigation__list hidden__nav"><a class="skip" aria-label="Ir para dados da A R S Madeira" href="#arsm" ></a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Ir para informação global" href="/">Dados globais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link current" aria-label="Ir para informação por região de saúde" href="#regionais" aria-current="page">Dados regionais</a></li>
                  <li class="main-navigation__list"><a class="main-navigation__link" aria-label="Ir para informação por concelho" href="/concelho/">Dados por concelho</a></li>
               </ul>
         </nav>
      </div>
    </div>
    <div class="main">
      <div class="contain">
         <div id="regionais">
            <h2>Dados por região de saúde</h2>
            <div>
               <section id="arslvt" aria-labelledby="arslvt-label">
                  <h3 id="arslvt-label">A R S Lisboa e vale do tejo</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosArsnorte}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosArslvt}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosArslvt}}</div>
                     </p>
                  </div>
               </section>
               <section id="arsn" aria-labelledby="arsn-label">
                  <h3 id="arsn-label">A R S Norte</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosArsnorte}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosArsnorte}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosArsnorte}}</div>
                     </p>
                  </div>
               </div>
               <section id="arsc" aria-labelledby="arsc-label">
                  <h3 id="arsc-label">A R S Centro</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosArscentro}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosArscentro}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosArscentro}}</div>
                     </p>
                  </div>
               </section>
               <section id="arsaltj" aria-labelledby="arsaltj-label">
                  <h3 id="arsaltj-label">A R S Alentejo</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosArsalentejo}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosArsalentejo}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosArsalentejo}}</div>
                     </p>
                  </div>
               </section>
               <section id="arsalgv" aria-labelledby="arsalgv-label">
                  <h3 id="arsalgv-label">A R S Algarve</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosArsalgarve}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosArsalgarve}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosArsalgarve}}</div>
                     </p>
                  </div>
               </section>
               <section id="arsac" aria-labelledby="arsac-label">
                  <h3 id="arsac-label">A R S Açores</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosAcores}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosAcores}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosAcores}}</div>
                     </p>
                  </div>
               </section>
               <section id="arsm" aria-labelledby="arsm-label">
                  <h3 id="arsm-label">A R S Madeira</h3>
                  <div class="data">
                     <!-- <p>
                        <div class="ativos">Casos ativos 0</div>
                     </p>
                     <p>
                        <div class="recuperados">Casos recuperados {{.RecuperadosMadeira}}</div>
                     </p> -->
                     <p>
                        <div class="confirmados">Casos confirmados {{.ConfirmadosMadeira}}</div>
                     </p>
                     <p>
                        <div class="obitos">Óbitos {{.ObitosMadeira}}</div>
                     </p>
                  </div>
               </section>
            </div>
         </div>
      </div>
    </div>

    <div class="footer">
      <div class="contain">
          <div class="address">Dados extraídos de:
             <a class="link" href="https://github.com/dssg-pt/covid19pt-data">covid19pt-data</a>
             <a class="link" href="https://corona.lmao.ninja/">disease.sh</a>
             <a class="link" href="https://services.arcgis.com/CCZiGSEQbAxxFVh3/ArcGIS/rest/services/COVID_Concelhos_ConcelhosDetalhes/FeatureServer/0">Serviço da ESRI de ArcGIS</a></div>
          <div class="address" style="margin-top: 2em;">
              <a class="link" href="https://techandpeople.github.io">Tech & People</a><br>
              <a class="link" href="https://www.lasige.di.fc.ul.pt/">LASIGE</a><br>
              <a class="link" href="https://ciencias.ulisboa.pt/">FCUL</a><br>
              <a class="link" href="https://www.ulisboa.pt/">ULISBOA</a><br>
          </div>
      </div>
  </div>
</body>
</html>